@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
}
html::-webkit-scrollbar{
  width: 10px;
}
html::-webkit-scrollbar-thumb{
  background-color: #FA4A0C;
  border-radius: 99999px;
}
body{
  margin: 0;
  padding: 0;
}
.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}